/* body  */
body {
        background-color: #FAEBD7;

}

.navbar {

}

.fontspecial {
       text-shadow: 1px 1px 1px white;

}

.fontspecialaddress {
           text-shadow: 0.5px 0px 0px black;
        
}

.titleaddress {
    margin-top: 30px;
}
.addresstext {
    margin-top: 20px;
}

.tablewidth {
    width: 100px;
}

.titlemain {
    background-color: #FAEBD7;
    min-width: 100%;
    padding-bottom: 20px;
}
.title {
    background-color: #FAEBD7;
    min-width: 100%;
   
}
 hr {
   border-top: 1px solid red; 
     width: 70%;
     margin: 0;
}

.toptext {
    padding-top: 20px;
}

.carouss {
    
    min-width: 100%;
    background-color: #FAFAD2;

}


.carousel {
    max-width: 80%;
    margin: auto;
    background-color: ;
   
}

.carousel-inner {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: beige;
    
    
    
}
 .carousel-inner > .item > img{
      width: 70%;
      margin: auto;
  }
 
.imgcircle1 {
    min-width: 100%;
    background-color: #FAEBD7;
  
    
}

.imgcircle {
   padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
      
}

figcaption {
   padding-top: 20px;
   padding-left: 5px;
   text-shadow: .5px 0px 0px white;
   font-size: 2em;
  
}

.linkround {
    text-decoration: none;
    color: #000000;
}

a.linkround:hover  {
    text-decoration: none;
}
.container-map {
    
    min-width: 100%;
    background-color: #FAFAD2;
    padding-bottom: 50px;
    
}
.map {
   
     position: relative;
    float: left;
    margin-top: 50px;
}


@media (max-width:767px){
    
    .imgrub {
        display: none;
        
    }
    
}

@media (max-width:1100px){
    .introtext {
        position: relative;
        top: -20px;
    }
}

.copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 1.2em;
}

.link {
    color: black;
    font-weight: bold;
}

/* Catering menu */

.cateringmenu {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: beige;
    padding-bottom: 50px;
}

.cateringa {
    color: black;
    font-weight: bold;
}

.cateringcontent {
    padding-top: 30px;
}

/* cafe menu */

.cafemenu {
    margin-top: 50px;
    padding-top: 20px;
    background-color: lightgoldenrodyellow;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.cafeproduct {
    width: 95%;
    margin-top: 75px;
    margin-left: 20px;
}

.cafeitems {
    box-shadow: 5px 5px 2px #888888;
}

.cafemenu1 {
    padding-top: 30px;
    background-color: lightgreen;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.cafemenu2 {
    padding-top: 30px;
    background-color: lightgoldenrodyellow;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.cafemenu3 {
    padding-top: 30px;
    background-color: lightgreen;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.cafeitems {
    height: 480px;
}

.textitem {
    font-weight: bolder;
}

.textdescription {
    font-style: italic;
}
/* about us page */

.aboutustitle {
    text-align: center;
}

.aboutcontainer {
    margin-top: 50px;
}

.masonry {
   
    border: 0;
}
.chloesimg {
    position: relative;
    float: left;
}
.chloesimgr {
    position: relative;
    float: right;
}
.chloestory {
  height: 220px;
    background-color: rosybrown;
    padding: 10px 20px 20px 320px;
    
}

.chloestory2 {
  height: 300px;
    background-color: coral;
    padding: 1px 20px 20px 320px;
    
}

.chloestory3 {
  height: 220px;
    background-color:rosybrown;
    padding: 1px 20px 20px 20px;
    
}

@media (max-width: 995px) {
    .chloesimg { 
        display: none;
        }
    .chloesimgr {
        display: none;
    }
    .chloestory {
      padding: 10px 20px 20px 20px;  
        height: 220px;
    }
    
    .chloestory2 {
      padding: 10px 20px 20px 20px;  
        height: 220px;
    }
    
    .chloestory3 {
      padding: 10px 20px 20px 20px;  
        height: 220px;
    }
}

@media (max-width: 680px) {
    .chloesimg { 
        display: none;
        }
    .chloesimgr {
        display: none;
    }
    .chloestory {
      padding: 10px 20px 20px 20px;  
        height: 300px;
    }
    
    .chloestory2 {
      padding: 10px 20px 20px 20px;  
        height: 300px;
    }
    
    .chloestory3 {
      padding: 10px 20px 20px 20px;  
        height: 300px;
    }
}

@media (max-width: 450px) {
    .chloesimg { 
        display: none;
        }
    .chloesimgr {
        display: none;
    }
    .chloestory {
      padding: 10px 20px 20px 20px;  
        height: 450px;
    }
    
    .chloestory2 {
      padding: 10px 20px 20px 20px;  
        height: 450px;
    }
    
    .chloestory3 {
      padding: 10px 20px 20px 20px;  
        height: 450px;
    }
}

/* soup calendar */

.nulldate {
    background-color: dimgray;
    text-align: center;
    border: 1px solid black;
    height: 80px;
    width: 180px;
}

.ondate {
    text-align: center;
    border: 1px solid black;
    height: 80px;
    background-color: white;
    width: 180px;
}

.ondate1 {
    text-align: center;
    border: 1px solid black;
    height: 80px;
    background-color: lightcoral;
    width: 180px;
}
.calendar {
    background-color: lightgreen;
}
.rowcalendar {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    
}

.datebold {
    font-weight: bold;
}

.soupdujour {
    margin: 0 auto;
    margin-top: 50px;
   
}

.mainsoup {
    border-radius: 20px;
    margin: auto;
    width: 350px;
    text-align: center;
    border: 3px black double;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
}

/* Direction page */

.fontspecialdirection {
    font-size: 1em;
    font-weight: bold;
}

.leftfindus {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.findusmap {
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: beige;
    padding: 40px 20px 50px 20px;
}

/* Press page */

.intropress {
    margin-bottom: 50px;
}
.pressarticle {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 25px;
    background-color: goldenrod;
}
.textarticle {
    padding-top: 30px;
}
.recipetitle {
    font-size: 1.2em;
    font-weight: bold;
}

.pressarticle1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 25px;
    background-color: lightcoral;
}

.cafeitems {
    box-shadow: 3px 3px 1px #000000;
}

/* Recipe image */

.leftboxrecipe {
    padding-top: 50px;
}
.boximage {
    margin: 0 auto;
    width: 80%;
    
    
    
}
.recipeimage {
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
   
}


.reciperight {
    background-color: beige;
    margin-top: -20px;
    padding-top: 50px;
   
}

.inforecipebox {
    background-color: white;
    width: 80%;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 10px;
    margin: 0 auto;
     -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.textimage {
    font-weight: bold;
    font-size: 1.1em;
    
}

.textfacebook {
    font-size: .9em;
    font-weight: bold;
    font-style: italic;
}

.tweetpin {
    margin-top: 20px;
    padding-bottom: 40px;
}

.recipetext {
    padding-top: 50px;
    padding-left: 35px;
    background-color: white;
    padding-right: 20px;
    padding-bottom: 30px;
}

.ingredients {
    background-color: darksalmon;
     -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    
}

.hringredients {
    width: 100%;
    color: black;
}

.spaningredients {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.button {
    display: block;
   padding-top: 50px;
  padding-left: 30px;
    
}

.listrecipe {
    margin-top: 100px;
}
.imagesrecipe {
    margin-top: 20px;
}