/* body  */
body {
        background-color: antiquewhite;

}

.navbar {

}

.fontspecial {
       text-shadow: 1px 1px 1px white;

}

.fontspecialaddress {
           text-shadow: 0.5px 0px 0px black;
        
}

.titleaddress {
    margin-top: 30px;
}
.addresstext {
    margin-top: 20px;
}

.tablewidth {
    width: 100px;
}
.title {
    background-color: antiquewhite;
    min-width: 100%;
}
 hr {
   border-top: 1px solid red; 
     width: 70%;
     margin: 0;
}

.toptext {
    padding-top: 20px;
}

.carouss {
    
    min-width: 100%;
    background-color: lightgoldenrodyellow;

}


.carousel {
    max-width: 80%;
    margin: auto;
    background-color: ;
   
}

.carousel-inner {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: beige;
    
    
    
}
 .carousel-inner > .item > img{
      width: 70%;
      margin: auto;
  }
 
.imgcircle1 {
    min-width: 100%;
    background-color: #A1D490;
  
    
}

.imgcircle {
   padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
      
}

figcaption {
   padding-top: 20px;
   padding-left: 5px;
   text-shadow: .5px 0px 0px white;
   font-size: 2em;
  
}

.container-map {
    
    min-width: 100%;
    background-color: burlywood;
    padding-bottom: 50px;
    
}
.map {
   
     position: relative;
    float: left;
    margin-top: 50px;
}


@media (max-width:767px){
    
    .imgrub {
        display: none;
        
    }
    
}

@media (max-width:1100px){
    .introtext {
        position: relative;
        top: -20px;
    }
}

.copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 1.2em;
}


/* Catering menu */

.cateringmenu {
    margin-top: 100px;
    margin-bottom: 50px
}

.cateringa {
    color: black;
    font-weight: bold;
}

.cateringcontent {
    padding-top: 30px;
}

/* cafe menu */

.cafemenu {
    margin-top: 50px;
    padding-top: 20px;
    background-color: lightgoldenrodyellow;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.cafeproduct {
    width: 95%;
    margin-top: 75px;
    margin-left: 20px;
}

.cafeitems {
    box-shadow: 5px 5px 2px #888888;
}

.cafemenu1 {
    padding-top: 30px;
    background-color: lightgreen;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.cafemenu2 {
    padding-top: 30px;
    background-color: lightgoldenrodyellow;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.cafemenu3 {
    padding-top: 30px;
    background-color: orange;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
}

/* about us page */

.aboutustitle {
    text-align: center;
}

.aboutcontainer {
    margin-top: 50px;
}

.masonry {
   
    border: 0;
}
.chloesimg {
    position: relative;
    float: left;
}
.chloesimgr {
    position: relative;
    float: right;
}
.chloestory {
  height: 220px;
    background-color: rosybrown;
    padding: 10px 20px 20px 320px;
    
}

.chloestory2 {
  height: 300px;
    background-color: coral;
    padding: 1px 20px 20px 320px;
    
}

.chloestory3 {
  height: 220px;
    background-color:rosybrown;
    padding: 1px 20px 20px 20px;
    
}

@media (max-width: 995px) {
    .chloesimg { 
        display: none;
        }
    .chloesimgr {
        display: none;
    }
    .chloestory {
      padding: 10px 20px 20px 20px;  
        height: 220px;
    }
    
    .chloestory2 {
      padding: 10px 20px 20px 20px;  
        height: 220px;
    }
    
    .chloestory3 {
      padding: 10px 20px 20px 20px;  
        height: 220px;
    }
}

@media (max-width: 680px) {
    .chloesimg { 
        display: none;
        }
    .chloesimgr {
        display: none;
    }
    .chloestory {
      padding: 10px 20px 20px 20px;  
        height: 300px;
    }
    
    .chloestory2 {
      padding: 10px 20px 20px 20px;  
        height: 300px;
    }
    
    .chloestory3 {
      padding: 10px 20px 20px 20px;  
        height: 300px;
    }
}

@media (max-width: 450px) {
    .chloesimg { 
        display: none;
        }
    .chloesimgr {
        display: none;
    }
    .chloestory {
      padding: 10px 20px 20px 20px;  
        height: 450px;
    }
    
    .chloestory2 {
      padding: 10px 20px 20px 20px;  
        height: 450px;
    }
    
    .chloestory3 {
      padding: 10px 20px 20px 20px;  
        height: 450px;
    }
}